/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Fira Sans', sans-serif !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.emoji-mart-search {
  font-family: 'Fira Sans', sans-serif !important;
}
